<div
    class="col-md-4 mt-3 text-center"
>
    <div class="code-subsection h-100 pb-3 pt-4 px-1 p-lg-3 pt-lg-4 d-flex flex-column justify-content-between">
        <div class="h-100 px-2 px-lg-0">
            <a class="text-light" href="{% url 'project' project.slug %}">
                <i class="{{ project.icon_classes }} fa-2x mb-2"></i>
                <h4 class="lead mt-1 mb-3">{{ project.name }}</h4>
            </a>
            <p class="text-justify px-1">{{ project.blurb }}</p>
        </div>
        <p class="text-center mt-2">
            <a href="{{ project.external_link }}" target="_blank" class="btn btn-info"
                >{{ project.external_link_text }}</a
            >
        </p>
    </div>
</div>