{% extends 'portfolio_site/base.html' %}

{% block title %}Elliot de Vries{% endblock title %}

{% block content %}
        <!-- CODE -->
        <section class="bg-dark text-light pt-3 pb-4 py-md-5" id="code-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="display-4">Code</h3>
                        <p class="lead pl-2 pl-md-0">
                            Working code examples and other technical projects
                        </p>
                    </div>
                    {% for project in featured_projects %}
                        {% include "portfolio_site/partials/project_feature.html" %}
                    {% endfor %}
                    <!-- <div
                        class="col-md-4 mt-3 text-center"
                    >
                        <div class="code-subsection h-100 pb-3 pt-4 px-1 p-lg-3 pt-lg-4 d-flex flex-column justify-content-between">
                            <div class="h-100 px-2 px-lg-0">
                                <i class="far fa-paper-plane fa-2x mb-2"></i>
                                <h4 class="lead mt-1 mb-3">Web Projects</h4>
                                <p class="text-justify px-1 pt-md-3 pt-lg-0 mt-md-4 mt-lg-0">
                                    Example code in a web app created from the
                                    bottom up with React, Redux and NextJS.
                                </p>
                            </div>
                            <p class="text-center mt-2">
                                <a href="https://notes.elliotdevries.com" class="btn btn-info"
                                    >Notes: A Flexible Demo</a
                                >
                            </p>
                        </div>
                    </div>
                    <div
                        class="col-md-4 mt-3 text-center"
                    >
                        <div class="code-subsection h-100 pb-3 pt-4 px-1 p-lg-3 pt-lg-4 d-flex flex-column justify-content-between">
                            <div class="px-2 px-lg-0">
                                <i class="fas fa-square-root-alt fa-2x mb-2"></i>
                                <h4 class="lead mt-1 mb-3">
                                    Computational Problems
                                </h4>
                                <p class="text-justify px-1">
                                    Examples of algorithm usage and problem-solving
                                    in code, as shown through solutions to
                                    computational problems.
                                </p>
                            </div>
                            <p class="text-center">
                                <a
                                    href="https://github.com/eadevries/pe-solutions"
                                    target="_blank"
                                    class="btn btn-info"
                                    >View the Repo</a
                                >
                            </p>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <!-- BIO -->
        <section class="pt-3 pb-4 py-md-5" id="bio-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="display-4">Bio</h3>
                        <p class="lead pl-2 pl-md-0">
                            A long-lasting passion for technology and learning
                        </p>
                    </div>

                    <div class="col-md-5 mt-2 pr-md-2">
                        <div class="py-2 px-3 bio-text text-justify">
                            <p>
                                Elliot started coding at a young age, and has
                                continued ever since. He is practiced with Python
                                and JavaScript/Node, and is familiar with a number
                                of frameworks, including React/Redux, NextJS, Django
                                and Express.
                            </p>
                            <p>
                                He has more than a decade of experience in working
                                for technology firms deeply engaged in the world of
                                education, primarily in providing client support for
                                data-driven education and communications
                                applications. Find a full CV at
                                <a class="text-info font-weight-bold" href="https://linkedin.com/in/elliotdevries"
                                    >Linkedin</a
                                > or a PDF version <a class="text-info font-weight-bold" href="https://drive.google.com/open?id=1HcQ50_5AzyfsQbqD9ukxCCGMdJQL0GC8" target="_blank">here</a>.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 mt-2 text-center">
                        {% load static %}
                        <div class="bio-portrait">
                            <img
                                class="bio-image mb-2 mt-3"
                                alt="Elliot de Vries"
                                src="{% static 'portfolio_site/images/bio100.jpg' %}"
                            />
                            <p
                                class="text-secondary mb-1 font-weight-bold text-nowrap"
                            >
                                Elliot de Vries
                            </p>
                            <div class="social-media-container">
                                <a
                                    href="https://github.com/eadevries"
                                    target="_blank"
                                    ><i class="fab fa-github fa-lg text-dark"></i
                                ></a>
                                <a href="https://linkedin.com/in/elliotdevries" target="_blank"
                                    ><i class="fab fa-linkedin fa-lg text-dark"></i
                                ></a>
                                <a
                                    href="https://twitter.com/elliotadevries"
                                    target="_blank"
                                    ><i class="fab fa-twitter fa-lg text-dark"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- CONTACT -->
        <section class="bg-dark text-light pt-3 pb-4 py-md-5" id="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="display-4">Contact</h3>
                        <p class="lead pl-2 pl-md-0">
                            Reach out about opportunites or for more information
                        </p>
                    </div>
                    <div class="col-md-8 mt-2">
                        <p class="text-justify">
                            To contact Elliot for inquiries or potential
                            opportunities, please use the contact option below
                            or reach out via social media using any of the
                            accounts in the icon list at the bottom of the page.
                        </p>
                        <p class="text-center text-md-left">
                            <a href="{% url 'contact' %}" class="btn btn-lg btn-danger">Contact</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
        